### UP 2005 Clean up

In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
up_2005 = pd.read_csv("../data/up_gp_sarpanch_2005.csv", low_memory = False)
up_2005.head()

,order,page,sr_no,gp_code,gp_name,gp_reservation_status,elected_sarpanch_name,sex,candidate_res_status,district_code,district_name,block_code,block_name
0,32321,842,195,0,महदेवा नासिरगॅज,पिछड़ी जाति - महिला,तैयबा बेगम,महिला,पिछड़ी जाति - महिला,1302.0,श्रावस्ती,4.0,जमुनहा
1,17390,454,265,0,रौतापुरकल,अनारक्षित,राजेन्द्रप्रसाद,पुरुष,अनारक्षित,805.0,कानपुर नगर,6.0,चौबेपुर
2,27064,704,911,1,गुजौली,अनुसूचित जाति महिला,रमदेई,महिला,NaN,1202.0,उन्नाव,16.0,हिलौली
3,38796,1008,479,1,गौर,अनारक्षित,राजेश कुमार,NaN,NaN,1501.0,बस्ती,8.0,गौर
4,45999,1193,703,1,देवकाली तारन,अनारक्षित,संतोष कुमार,पुरुष,NaN,1701.0,आजमगढ़,11.0,सठियाव

### Let's get GP Name sorted

In [3]:
### Normalize GP Name

up_2005['gp_name'] = up_2005['gp_name'].str.strip()\
                        .str.replace(r'^(\s?-\s?|\s?--\s?)|(\s-|\s--|\s---)$', '', regex=True)\
                        .str.replace(r'\s{2,}', ' ', regex=True)\
                        .str.strip()\
                        .str.strip().str.replace('[0-9\[\]]', '', regex=True)

# Let's take out reservation status from GP Name
gp_res_status = [
    'अनारक्षित',
    'महिला',
    'अनुसूचित जाति - महिला',
    'पिछड़ी जाति - महिला',
    'पिछड़ी जाति',
    'अनुसूचित जाति',
    'पिछड़ी जाति महिला -',
    'अनुसूचित जाति महिला -'
    'महिला'
    'अनुसूचित जाति महिला -',
    'पिछड़ी जाति महिला',
    'अनुसूचित जाति महिला',
    'पिछड़ी जाति महिला -'
    'अनुसूचित जाति महिला -',
    'पिछड़ी जाति महिला --',
    'अनुसूचित जाति महिला - '
]
up_2005['gp_res_status_temp'] = np.where(up_2005['gp_name'].str.strip().isin(gp_res_status), up_2005['gp_name'], '')
up_2005['gp_name_fin'] = np.where(~up_2005['gp_name'].isin(gp_res_status), up_2005['gp_name'], '')
up_2005['gp_name_fin'].value_counts()[:20]

              78
रामपुर        77
रसूलपुर       68
गोपालपुर      64
रायपुर        60
नरायनपुर      59
रामनगर        56
शाहपुर        54
जगदीशपुर      50
सलेमपुर       46
बहादुरपुर     42
गौरा          41
जलालपुर       41
सिकन्दरपुर    40
कल्यानपुर     40
भगवानपुर      40
सुल्तानपुर    38
मिर्जापुर     37
दौलतपुर       37
लालपुर        36
Name: gp_name_fin, dtype: int64

In [4]:
up_2005['gp_reservation_status'].value_counts()[:30]

अनारक्षित                         14674
महिला                             11113
अनुसूचित जाति                      6621
पिछड़ी जाति - महिला                6299
पिछड़ी जाति                        5383
अनुसूचित जाति महिला                2314
पिछड़ी जाति महिला                  1807
अनुसूचित जाति - महिला              1622
पिछड़ी जाति - महिला                   88
पिछडी जाति                           80
अनुसूचित                             64
पिछड़ी जाति महिला                     53
पिछड़ी                               49
अनारक्षित\nअनारक्षित                 45
महिला\nअनारक्षित                     26
महिला\nमहिला                         26
अनारक्षित\nमहिला                     25
पिछड़ी जाति -                        21
पिछडी जाति - महिला                   21
अनुसूचित जाति - महिला -              19
अनारक्षित\nपिछड़ी जाति - महिला       17
पिछड़ी जाति\nअनारक्षित               17
अनारक्षित\nअनुसूचित जाति             16
अनुसूचित जाति\nअनारक्षित             15
अनुसूचित जन जाति महिल                14
पिछड़ी जाति                           14
अनुसूचित जाति महिला --               14
अनारक्षित\nपिछड़ी जाति               13
अनुसूचित जन जाति                     12
महिला\nपिछड़ी जाति - महिला           12
Name: gp_reservation_status, dtype: int64

In [5]:
up_2005['gp_res_status_fin'] = up_2005.apply(lambda x: x['gp_res_status_temp'] if x['gp_res_status_temp'] != '' 
                            else x['gp_reservation_status'], axis=1)
up_2005['gp_res_status_fin'].value_counts()[:24]

अनारक्षित                         14672
महिला                             11115
अनुसूचित जाति                      6622
पिछड़ी जाति - महिला                6300
पिछड़ी जाति                        5383
अनुसूचित जाति महिला                2314
पिछड़ी जाति महिला                  1808
अनुसूचित जाति - महिला              1622
पिछड़ी जाति - महिला                   88
पिछडी जाति                           80
अनुसूचित                             64
पिछड़ी जाति महिला                     53
पिछड़ी                               49
अनारक्षित\nअनारक्षित                 45
महिला\nमहिला                         26
महिला\nअनारक्षित                     26
अनारक्षित\nमहिला                     25
पिछड़ी जाति -                        21
पिछडी जाति - महिला                   21
अनुसूचित जाति - महिला -              19
पिछड़ी जाति\nअनारक्षित               17
अनारक्षित\nपिछड़ी जाति - महिला       17
अनारक्षित\nअनुसूचित जाति             16
अनुसूचित जाति\nअनारक्षित             15
Name: gp_res_status_fin, dtype: int64

In [6]:
# Normalize
up_2005['gp_res_status_fin'] = (up_2005['gp_res_status_fin']
                 .str.strip()  # Step 1: Trim leading and trailing spaces   
                 .str.replace(r'^(\s?-\s?|\s?--\s?)|(\s-|\s--|\s---)$', '', regex=True)  # Step 2: Remove specific patterns at the start/end
                 .str.strip()  # Step 1: Trim leading and trailing spaces
                 .str.replace(r'\s{2,}', ' ', regex=True).str.strip())  # Step 3: Replace multiple spaces with a single space
up_2005['gp_res_status_fin'].value_counts()[:12]

अनारक्षित                14672
महिला                    11115
अनुसूचित जाति             6635
पिछड़ी जाति - महिला       6304
पिछड़ी जाति               5406
अनुसूचित जाति महिला       2334
पिछड़ी जाति महिला         1814
अनुसूचित जाति - महिला     1641
पिछड़ी जाति - महिला          88
पिछडी जाति                  80
अनुसूचित                    64
पिछड़ी जाति महिला            53
Name: gp_res_status_fin, dtype: int64

In [7]:
# Define the list of substrings to check for
valid_categories = up_2005['gp_res_status_fin'].value_counts()[:12].index.to_list()

up_2005['gp_res_status_fin'] = np.where(up_2005['gp_res_status_fin'].isin(valid_categories), up_2005['gp_res_status_fin'], '')
up_2005['gp_res_status_fin'].value_counts()[:20]

अनारक्षित                14672
महिला                    11115
अनुसूचित जाति             6635
पिछड़ी जाति - महिला       6304
पिछड़ी जाति               5406
अनुसूचित जाति महिला       2334
पिछड़ी जाति महिला         1814
                          1673
अनुसूचित जाति - महिला     1641
पिछड़ी जाति - महिला          88
पिछडी जाति                  80
अनुसूचित                    64
पिछड़ी जाति महिला            53
Name: gp_res_status_fin, dtype: int64

In [8]:
translit_dict = {
    'अनारक्षित': 'Unreserved',
    'पिछड़ी जाति': 'Other Backward Class',
    'महिला': 'Female',
    'अनुसूचित जाति': 'Scheduled Caste',
    'पिछड़ी जाति - महिला': 'Other Backward Class - Female',
    'पिछड़ी जाति महिला': 'Other Backward Class - Female',
    'अनुसूचित जाति - महिला': 'Scheduled Caste - Female',
    'अनुसूचित जाति महिला': 'Scheduled Caste - Female',
    'पिछडी जाति': 'Other Backward Class',
    'पिछडी जाति - महिला': 'Other Backward Class - Female',
    'पिछड़ी जाति महिला': 'Other Backward Class - Female',
    '': 'Unknown',  
    'अनुसूचित जन जाति': 'Scheduled Tribe',
    'अनुसूचित जन जाति - महिला': 'Scheduled Tribe - Female',
    'पिछड़ी जाति - महिला': 'Other Backward Class - Female',
    'पिछडी जाति महिला': 'Other Backward Class - Female'
}

up_2005['gp_res_status_fin_eng'] = up_2005['gp_res_status_fin'].map(translit_dict)
up_2005['gp_res_status_fin_eng'].value_counts()

Unreserved                       14672
Female                           11115
Other Backward Class - Female     8259
Scheduled Caste                   6635
Other Backward Class              5486
Scheduled Caste - Female          3975
Unknown                           1673
Name: gp_res_status_fin_eng, dtype: int64

In [9]:
def process_info(info):
    if not isinstance(info, str):
        return "", "", None  # Handle non-string data directly

    # Initialize default values for gender and age
    gender = ""
    age = None

    keywords = {'महिला': 'woman', 'पुरुष': 'man'}
    age_pattern = re.compile(r'\b\d+\b')  # Matches whole numbers

    # Extract age from the string (assuming the first number found is the age)
    found_age = age_pattern.findall(info)
    if found_age:
        age = int(found_age[0])  # Convert the first found age to integer
        info = age_pattern.sub("", info).strip()  # Remove the age from the string

    # Check for and process keywords
    for keyword, eng_gender in keywords.items():
        if keyword in info:
            gender = keyword #eng_gender
            info = info.replace(keyword, '').strip()  # Strip keyword and any extra spaces

    return info, gender, age

### Split Cols on the Right

In [10]:
up_2005['candidate_res_status_fin'], up_2005['cand_sex_t'], up_2005['age_t'] = zip(*up_2005['candidate_res_status'].apply(process_info))
up_2005['candidate_res_status_fin'].value_counts()

पिछड़ी जाति                                                   11371
पिछड़ी जाति -                                                  9796
अनारक्षित                                                      9574
अनुसूचित जाति                                                  7977
                                                               5294
                                                              ...
पिछड़ी जाति - \n अनुसूचित जाति\n अनुसूचित जाति                    1
पिछड़ी जाति  -\n अनारक्षित\n अनारक्षित                            1
विद्यादेवी                                                        1
अनुसूचित जाति\n अनुसूचित जाति\n अनुसूचित जाति                     1
उम्मीदवार की\nआरक्षण श्रेणी\nअनुसूचित जाति  -\nपिछड़ी जाति        1
Name: candidate_res_status_fin, Length: 277, dtype: int64

In [11]:
up_2005['cand_sex_t'].value_counts()

         28824
महिला    22060
पुरुष      995
Name: cand_sex_t, dtype: int64

In [12]:
up_2005['educ_t2'], up_2005['cand_sex_t2'], up_2005['age_t2'] = zip(*up_2005['sex'].apply(process_info))
up_2005['cand_sex_t2'].value_counts()

महिला    26538
पुरुष    23662
          1679
Name: cand_sex_t2, dtype: int64

### Finalize

In [13]:
# Candidate Sex Final
up_2005['cand_sex_fin'] = up_2005.apply(lambda x: x['cand_sex_t'] if x['cand_sex_t2'] == '' else x['cand_sex_t2'], axis=1)
up_2005['cand_sex_fin'].value_counts()

महिला    26710
पुरुष    24564
           605
Name: cand_sex_fin, dtype: int64

In [14]:
up_2005.columns

Index(['order', 'page', 'sr_no', 'gp_code', 'gp_name', 'gp_reservation_status',
       'elected_sarpanch_name', 'sex', 'candidate_res_status', 'district_code',
       'district_name', 'block_code', 'block_name', 'gp_res_status_temp',
       'gp_name_fin', 'gp_res_status_fin', 'gp_res_status_fin_eng',
       'candidate_res_status_fin', 'cand_sex_t', 'age_t', 'educ_t2',
       'cand_sex_t2', 'age_t2', 'cand_sex_fin'],
      dtype='object')

In [15]:
up_2005.drop(columns =['gp_res_status_temp',
              'cand_sex_t', 'age_t', 
              'educ_t2', 'cand_sex_t2'], inplace = True)
up_2005.columns

Index(['order', 'page', 'sr_no', 'gp_code', 'gp_name', 'gp_reservation_status',
       'elected_sarpanch_name', 'sex', 'candidate_res_status', 'district_code',
       'district_name', 'block_code', 'block_name', 'gp_name_fin',
       'gp_res_status_fin', 'gp_res_status_fin_eng',
       'candidate_res_status_fin', 'age_t2', 'cand_sex_fin'],
      dtype='object')

In [16]:
up_2005.to_csv("../data/up_gp_sarpanch_2005_fixed.csv", index = False)