In [17]:
import pandas as pd
import numpy as np
import os

In [19]:
os.chdir("/Users/soodoku/Downloads/")

In [20]:
df = pd.read_csv("himachal_all.csv", low_memory = False)
df.columns

Index(['number', 'id', 'elector_name', 'father_or_husband_name',
       'relationship', 'house_no', 'age', 'sex', 'ac_name',
       'parl_constituency', 'part_no', 'year', 'state', 'filename',
       'main_town', 'police_station', 'mandal', 'revenue_division', 'district',
       'pin_code', 'polling_station_name', 'polling_station_address',
       'net_electors_male', 'net_electors_female', 'net_electors_third_gender',
       'net_electors_total'],
      dtype='object')

In [21]:
df.head()

,number,id,elector_name,father_or_husband_name,relationship,house_no,age,sex,ac_name,parl_constituency,...,mandal,revenue_division,district,pin_code,polling_station_name,polling_station_address,net_electors_male,net_electors_female,net_electors_third_gender,net_electors_total
0,),MGV0623512,आत्म देई,दीवान सिंह,Husband,17,64,महिला,"1 , युराह (अ.जा.)",कांगड़ा (सामान्य),...,We,बेरागढ,चम्बा,176316,"1, Ie","रा.व.मा.पा. बैरागढ,",236,223,0.0,459
1,27,MGV0624148,राम देई,दीवान चन्द,Father,27,42,महिला,"1 , युराह (अ.जा.)",कांगड़ा (सामान्य),...,We,बेरागढ,चम्बा,176316,"1, Ie","रा.व.मा.पा. बैरागढ,",236,223,0.0,459
2,3,NUU0025064,बिजेन्द्र सिंह,दीवान चन्द,Father,7,33,पुरूष,"1 , युराह (अ.जा.)",कांगड़ा (सामान्य),...,We,बेरागढ,चम्बा,176316,"1, Ie","रा.व.मा.पा. बैरागढ,",236,223,0.0,459
3,4,NUU0002451,मेहताब आली,शरीफ मुहमद,Father,12,40,पुरूष,"1 , युराह (अ.जा.)",कांगड़ा (सामान्य),...,We,बेरागढ,चम्बा,176316,"1, Ie","रा.व.मा.पा. बैरागढ,",236,223,0.0,459
4,5,NUU0025080,नजमा बेगम,मेहताब आली,Husband,12,35,महिला,"1 , युराह (अ.जा.)",कांगड़ा (सामान्य),...,We,बेरागढ,चम्बा,176316,"1, Ie","रा.व.मा.पा. बैरागढ,",236,223,0.0,459

In [22]:
selected_df = df[['id', 'elector_name', 'father_or_husband_name']]

long_df = pd.melt(selected_df, id_vars=['id'], var_name='Attribute', value_name='Value')
long_df.shape

(9339672, 3)

In [23]:
long_df.replace('', np.nan, inplace=True)
long_df.dropna(subset=['Value'], inplace=True)

# Remove duplicates
long_df.drop_duplicates(subset=['Attribute', 'Value'], inplace=True)

In [24]:
long_df.shape

(739141, 3)

In [25]:
long_df.head()

           id     Attribute            Value
0  MGV0623512  elector_name        आत्म देई
1  MGV0624148  elector_name         राम देई
2  NUU0025064  elector_name  बिजेन्द्र सिंह
3  NUU0002451  elector_name      मेहताब आली
4  NUU0025080  elector_name       नजमा बेगम

In [26]:
long_df.to_csv("himachal_transliterate.csv", index = False)