In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
df = pd.read_csv("../data/up_gp_sarpanch_2010_fixed.csv", low_memory = False)
df.columns

Index(['original_filename', 'page', 'order', 'district_name', 'sr_no',
       'gp_code', 'block_code', 'block_name', 'sr_gp_combo', 'gp_name',
       'gp_reservation_status', 'elected_sarpanch_name', 'husband_spouse_name',
       'candidate_res_status', 'age', 'sex', 'education', 'address',
       'gp_name_fin', 'gp_res_status_fin', 'gp_res_status_fin_eng',
       'candidate_res_status_fin', 'cand_sex_fin', 'age_fin', 'educ_fin',
       'educ_fin_eng'],
      dtype='object')

In [3]:
selected_df = df[['order', 'gp_name_fin', 'elected_sarpanch_name', 'husband_spouse_name']]

long_df = pd.melt(selected_df, id_vars=['order'], var_name='Attribute', value_name='Value')
long_df.shape

(155583, 3)

In [4]:
long_df.replace('', np.nan, inplace=True)
long_df.dropna(subset=['Value'], inplace=True)

# Remove duplicates
long_df.drop_duplicates(subset=['Attribute', 'Value'], inplace=True)

In [5]:
long_df.shape

(56903, 3)

In [6]:
long_df.head()

    order    Attribute                 Value
0    6193  gp_name_fin
1    9018  gp_name_fin  सिमराया ता ० घुंघचिह
5   44701  gp_name_fin              बल्लोखास
16  29955  gp_name_fin        सिसैया दरियाना
17  31510  gp_name_fin               कीरतपुर

In [7]:
long_df.to_csv("../data/trhimachal_transliterate.csv", index = False)