In [14]:
import pandas as pd
import numpy as np

In [15]:
up_local = pd.read_csv("up_urban_local_2012.csv")
up_local.columns

Index(['क्र. सं.', 'जिले का नाम', 'निकाय का प्रकार', 'निकाय कोड',
       'निकाय का नाम', 'वार्ड संख्या', 'वार्ड का नाम', 'पद',
       'पद की आरक्षण श्रेणी', 'निर्वाचित प्रत्याशी का नाम', 'पिता/पति का नाम',
       'संबंध', 'स्थाई पता', 'मोबाइल नंबर', 'लिंग', 'आयु', 'शैक्षिक स्तर',
       'प्रत्याशी की आरक्षण श्रेणी', 'राजनैतिक दल', 'निर्वाचन का प्रकार',
       'प्राप्त वैध मत', 'कुल वैध मत'],
      dtype='object')

In [17]:
selected_df = up_local[['क्र. सं.', 'जिले का नाम', 'निकाय का प्रकार', 'निकाय का नाम', 'वार्ड का नाम', 'निर्वाचित प्रत्याशी का नाम', 'पिता/पति का नाम']]

long_df = pd.melt(selected_df, id_vars=['क्र. सं.'], var_name='Attribute', value_name='Value')
long_df.shape

(71190, 3)

In [22]:
long_df.replace('', np.nan, inplace=True)
long_df.dropna(subset=['Value'], inplace=True)

# Remove duplicates
long_df.drop_duplicates(subset=['Attribute', 'Value'], inplace=True)

In [23]:
long_df.shape

(23524, 3)

In [24]:
long_df.head()

     क्र. सं.    Attribute       Value
0         1.0  जिले का नाम    सहारनपुर
187     188.0  जिले का नाम  मुजफ्फरनगर
382     383.0  जिले का नाम       शामली
562     563.0  जिले का नाम        मेरठ
835     836.0  जिले का नाम       बागपत

In [25]:
long_df.to_csv("up_local_transliterate.csv", index = False)