In [1]:
import pandas as pd

In [2]:
up_2010 = pd.read_csv("../data/up_gp_sarpanch_2010_fixed.csv", low_memory = False)

In [ ]:
# Load transliterations
up_2010_trans = pd.read_csv("../data/up_gp_sarpanch_2010_transliterate_out.csv", low_memory = False)
up_2005_trans = pd.read_csv("../data/up_gp_sarpanch_2010_transliterate_out.csv", low_memory = False)

In [3]:
up_2010.shape

(51861, 26)

In [4]:
up_2010_trans.head()

                Name       Transliterated
0     संत रविदास नगर   Sant Ravidas Nagar
1          मिर्जापुर             Mirzapur
2            अलीगढ़              Aligarh
3  ज्योतिबा फूले नगर  Jyotiba Phule Nagar
4                 मऊ                  Mau

In [5]:
# Let's convert to dict
mapping_dict = up_2010_trans.set_index('Name')['Transliterated'].to_dict()

In [7]:
up_2010['gp_name_eng'] = up_2010['gp_name_fin'].map(mapping_dict).str.strip()

In [8]:
up_2010['gp_name_eng'][up_2010['gp_name_eng'].apply(lambda x: isinstance(x, str) and not x.isalnum())]

32           Saudhauli Kadim
34          Ambaihata Shekha
62             71 Dhikkakala
65       Buddhakheda Pundeer
90             Khedi Quraish
                ...
51848           Asadpur Ghed
51853           23 Babhnauli
51855           Behtha Gokul
51856          Khudia bujurg
51860          Sirsiya Pawar
Name: gp_name_eng, Length: 3972, dtype: object

In [9]:
up_2010['gp_name_eng'].notna().sum()

10445

In [13]:
up_2010['elected_sarpanch_name_eng'] = up_2010['elected_sarpanch_name'].map(mapping_dict).str.strip()
up_2010['elected_sarpanch_name_eng'].notna().sum()

27871

In [15]:
up_2010['husband_spouse_name_eng'] = up_2010['husband_spouse_name'].map(mapping_dict).str.strip()
up_2010['husband_spouse_name_eng'].notna().sum()

23501

In [16]:
up_2010.to_csv("../data/up_gp_sarpanch_2010_fixed_with_transliteration.csv", index = False)