In [1]:
import pandas as pd
import numpy as np

In [3]:
up = pd.read_csv("../data/up_gp_sarpanch_2005.csv")
up.columns

Index(['order', 'page', 'क्रम  संख्या', 'ग्राम पंचायत  का कोड',
       'ग्राम पंचायत  का नाम', 'पद की आरक्षण श्रेणी',
       'निर्वाचित ग्राम प्रधान  का नाम', 'लिंग', 'उम्मीदवार की  आरक्षण श्रेणी',
       'जिले का कोड', 'जिले का नाम', 'विकास खण्ड का कोड', 'विकास खण्ड का नाम'],
      dtype='object')

In [17]:
selected_df = up_local[['क्रम  संख्या', 'जिले का नाम', 'विकास खण्ड का नाम', 'ग्राम पंचायत  का नाम',
                        'निर्वाचित ग्राम प्रधान  का नाम']]

long_df = pd.melt(selected_df, id_vars=['क्र. सं.'], var_name='Attribute', value_name='Value')
long_df.shape

(71190, 3)

In [22]:
long_df.replace('', np.nan, inplace=True)
long_df.dropna(subset=['Value'], inplace=True)

# Remove duplicates
long_df.drop_duplicates(subset=['Attribute', 'Value'], inplace=True)

In [23]:
long_df.shape

(23524, 3)

In [24]:
long_df.head()

     क्र. सं.    Attribute       Value
0         1.0  जिले का नाम    सहारनपुर
187     188.0  जिले का नाम  मुजफ्फरनगर
382     383.0  जिले का नाम       शामली
562     563.0  जिले का नाम        मेरठ
835     836.0  जिले का नाम       बागपत

In [25]:
long_df.to_csv("up_local_transliterate.csv", index = False)